body{
    background-image: url(https://media.cntraveler.com/photos/5b6dd0322211d70d9158ae08/master/w_800%2Cc_limit/Arashiyama_GettyImages-540757494.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;

    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}
.clock-container{
    backdrop-filter: blur(3px);
    width: 50vw;
    padding: 10px 0;
}
.clock{
    color: white;
    font-size: 6rem;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    text-shadow: 3px 3px 5px hsla(0,0%,0%, 0.75);
}
input{
    font-size: 3rem;
    height: 100px;
    width: 100px;
}