.cell {
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
  border-color: black;
  border-width: 1px;
  border-style: solid;
  background-color: rgb(var(--bgcolor_r), var(--bgcolor_g), var(--bgcolor_b));
  display: flex;
  height: var(--cell-size);
  width: var(--cell-size);
  flex-direction: column;
  align-items: center; /* Center content vertically */
  justify-content: center;
  font-size: var(--text-size);
  color: var(--cell-color);
  cursor: pointer;
  place-items: center;
  text-align: center;
  position: relative;
}
.cell span{
  display: flex;
  position: absolute;
  margin: 0px;
  top: -23.5%;
}
.cell:hover {
  background-color: rgb(calc(var(--bgcolor_r) * 0.8), calc(var(--bgcolor_g) * 0.8), calc(var(--bgcolor_b) * 0.8));
}
